Body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
#mariopic{
    margin-top: 150px;
    margin-bottom: 20px;
}
#welcome{
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: ;
    position: absolute;
    background: linear-gradient(#00fbff 0%, #9000ff 100%)
}
.menu{
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 100;
    cursor:pointer;
}
.link{
    padding-top: 6px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 6px;
    font-size: 20px;
    float: left;
     color: rebeccapurple;
}
.link:hover{
    background-color: lightcoral;
    font-size: 30px;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: auto;
}